#help_label
{
    margin-top:10px;
    align-content:center;
}
#label1
{
    
    margin-top:10px;
    align-content:center;
}
 ul{
        padding: 0;
        list-style: none;
        background: blue;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: blue;
        text-decoration: none;
    }
    ul li a:hover{
        color: blue;
        background: blue;
        text-decoration:none;
    }
    ul li ul.dropdown{
        min-width: 200%;/* Set width of the dropdown */
        background: blue;
        border-image-outset:inherit;
        text-decoration:none;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display:block	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }