<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="data_layer.Properties.Settings.hospital_management_systemConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;c:\users\admin\documents\visual studio 2015\Projects\hospital_management_system\hospital_management_system\App_Data\hospital_management_system.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="data_layer.Properties.Settings.hospital_management_systemConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Source\Repos\OnlineHospitalManagementSystem_D4\Hospital_management_system\hospital_management_system\App_Data\hospital_management_system.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="data_layer.Properties.Settings.hospital_management_systemConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Desktop\Hospital_management_system_Final\hospital_management_system\App_Data\hospital_management_system.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>